.content-html {
  h3 {
    @include reset-text;
    margin-bottom: 30px;
    margin-top: 50px;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 100%;
    text-transform: uppercase;
    color: $text-color-dark;

    &:first-child {
      margin-top: 0;
    }
  }

  p {
    @include reset-text;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 140%;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (max-width: $lg) {
  .content-html {
    h3 {
      font-size: 1.25rem;
    }

    p {
      font-size: 1.25rem;
    }
  }
}

@media (max-width: $md) {
  .content-html {
    h3 {
      margin-top: 30px;
      margin-bottom: 20px;
      font-size: 1.125rem;
    }

    p {
      font-size: 1rem;
    }
  }
}
