.request {
  background-color: $bg-color-dark;

  &__title {
    color: $text-color-light;
  }

  &__text {
    color: $text-color-light;
  }

  &__email {
    font-size: 3rem;
  }
}

@media (max-width: $lg) {
  .request {
    &__email {
      font-size: 2.5rem;
    }
  }
}

@media (max-width: $md) {
  .request {
    &__email {
      font-size: 1.75rem;
    }
  }
}

@media (max-width: $sm) {
  .request {
    &__email {
      display: inline-block;
      margin-top: 20px;
      font-size: 1.75rem;
    }
  }
}
