.footer {
  position: relative;
  padding: 100px 0;

  &__group {
    position: relative;
    padding-top: 30px;
    border-top: 1px solid $bg-color-dark;
  }

  &__social {
    .social__link {
      color: $text-color-dark;
    }
  }

  &__copyright {
    margin-top: 50px;
    margin-bottom: 0;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 100%;
    text-transform: uppercase;
  }

  &__up {
    @include reset-btn;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70px;
    height: 70px;
    border: 1px solid $text-color-dark;
    border-radius: 50%;
  }

  &__arrow svg {
    height: 40px;
    transform-origin: center center;
    transform: rotate(180deg);
  }
}

@media (max-width: $md) {
  .footer {
    padding: 70px 0;
  }
}

@media (max-width: $sm) {
  .footer {
    padding: 50px 0;

    &__up {
      width: 50px;
      height: 50px;
    }

    &__arrow svg {
      height: 30px;
    }
  }
}

@media (max-width: 399.98px) {
  .footer {
    &__copyright {
      max-width: 300px;
      line-height: 120%;
    }
  }
}
