.nav {
  position: relative;

  &__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: calc(100vh - $header-h);
    padding: 50px 0;
    background-color: $bg-color-dark;
    z-index: 10;
    opacity: 0;
    pointer-events: none;

    &_active {
      opacity: 1;
      pointer-events: auto;
    }

    .container {
      height: 100%;
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1400px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  &__contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: auto;
  }
}

@media (max-width: $xl) {
  .nav {
    &__menu {
      height: calc(100vh - $header-h-xl);
    }
  }
}

@media (max-width: $xs) {
  .nav {
    &__menu {
      height: calc(100vh - $header-h-xs);
    }
  }
}

@media (max-width: 499.98px) {
  .nav {
    &__contacts {
      flex-direction: column;
    }

    &__email {
      margin-bottom: 30px;
    }
  }
}
