.fs {

  &__group {
    position: relative;
    display: flex;
    align-items: flex-start;
  }

  &__title {
    max-width: 1031px;
    width: 100%;
    margin-top: 90px;
  }

  &__arrow {
    @include reset-btn;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 150px;
    height: 150px;
    border: 1px solid $text-color-dark;
    border-radius: 50%;

    &-icon svg {
      fill: $text-color-dark;
    }
  }

  &__img {
    flex-shrink: 0;
    width: 366px;
    margin-left: auto;
  }
}

.last-cases {
  background-color: $bg-color-dark;

  &__title {
    color: $text-color-light;
    margin-bottom: 60px;
  }

  &__cards {
    @include reset-list;
  }

  &__more {
    margin-top: 70px;
  }
}

.short-about {
  &__img {
    width: 100%;
  }

  &__text {
    max-width: 530px;
    width: 100%;
  }
}


@media (max-width: $xl) {
  .fs {
    &__title {
      margin-top: 30px;
    }

    &__arrow {
      width: 120px;
      height: 120px;
    }

    &__img {
      width: 277px;
    }
  }
}

@media (max-width: $md) {
  .fs {
    padding-top: 30px;

    &__group {
      flex-direction: column;
    }

    &__img {
      width: 200px;
      margin-top: -170px;
    }

    &__arrow {
      width: 100px;
      height: 100px;
    }
  }

  .last-cases {
    &__title {
      margin-bottom: 15px;
    }

    &__more {
      margin-top: 15px;
    }
  }

  .short-about {
    &__more {
      margin-top: -15px;
    }
  }
}

@media (max-width: $sm) {
  .fs {
    padding-top: 0;

    &__img {
      margin-top: -30px;
    }

    &__arrow {
      width: 50px;
      height: 50px;

      svg {
        height: 30px;
      }
    }
  }

  .short-about {
    &__img {
      margin-bottom: 30px;
    }

    &__more {
      margin-top: 0;
    }
  }
}

@media (max-width: 405.98px) {
  .fs {
    &__img {
      margin-top: 10px;
    }

    &__arrow {
      display: none;
    }
  }
}
