.logo {
  @include link;
  color: $text-color-dark;
}

.email {
  @include link;
}

.social {
  @include reset-list;
  display: flex;
  align-items: center;

  &__item {
    margin-right: 60px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    @include link;
  }
}
