.menu-toggle {
  @include reset-btn;
  width: 40px;
  height: 13px;

  span {
    position: relative;
    display: block;
    width: 100%;
    height: 1px;
    background-color: $text-color-dark;

    &::before,
    &::after {
      position: absolute;
      top: 0;
      width: 23px;
      height: 100%;
      background-color: inherit;
      content: '';
    }

    &::before {
      right: 0;
      transform: translateY(-5px);
    }

    &::after {
      left: 0;
      transform: translateY(5px);
    }
  }

  &_active span {

    &::before,
    &::after {
      width: 15px;
      transform-origin: left center;
    }

    &::before {
      left: 0;
      transform: rotate(-23deg)
    }

    &::after {
      transform: rotate(23deg)
    }
  }
}

.menu {
  @include reset-list;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto 0;

  &__item {
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    position: relative;
    font-size: 4.375rem;
    font-weight: 700;
    line-height: 100%;
    color: rgba($text-color-light, 0.5);
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.3s ease-in-out;

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      width: 100px;
      height: 4px;
      margin-top: -2px;
      content: '';
      transform-origin: right center;
      transform: scaleX(0);
    }

    &::before {
      transition: transform 0.3s ease-in-out;
      left: -130px;
    }

    &::after {
      transition: transform 0.3s ease-in-out;
      right: -130px;
    }

    &:hover {
      color: $text-color-light;

      &::before,
      &::after {
        transform-origin: left center;
        transform: scaleX(1);
      }
    }

    &_blue-gradient {

      &::before,
      &::after {
        background-image: $blue-gradient;
      }
    }

    &_green-gradient {

      &::before,
      &::after {
        background-image: $green-gradient;
      }
    }

    &_pink-gradient {

      &::before,
      &::after {
        background-image: $pink-gradient;
      }
    }
  }
}

@media (max-width: $lg) {
  .menu {
    &__link {
      font-size: 3.75rem;

      &::before,
      &::after {
        width: 70px;
        height: 3px;
        margin-top: -1.5px;
      }

      &::before {
        left: -100px;
      }

      &::after {
        right: -100px;
      }
    }
  }
}

@media (max-width: $xs) {
  .menu {
    &__link {
      font-size: 2.5rem;

      &::before,
      &::after {
        width: 30px;
        height: 2px;
        margin-top: -1px;
      }

      &::before {
        left: -60px;
      }

      &::after {
        right: -60px;
      }
    }
  }
}
