$bg-color-light: #ffffff;
$bg-color-dark: #000000;

$text-color-light: #ffffff;
$text-color-dark: #000000;

$blue-gradient: linear-gradient(to right, #0EF0EA, #0082F3);
$green-gradient: linear-gradient(to right, #E0F130, #5FDD5F);
$pink-gradient: linear-gradient(to right, #F50D5B, #E400FF);

$line-animation: transform 0.3s ease-in-out;

// Breakpoints
$xl: 1459.98px;
$lg: 1199.98px;
$md: 991.98px;
$sm: 767.98px;
$xs: 575.98px;
