$bg-color-light: #ffffff;
$bg-color-dark: #000000;

$text-color-light: #ffffff;
$text-color-dark: #000000;

$blue-gradient: linear-gradient(to right, #0EF0EA, #0082F3);
$green-gradient: linear-gradient(to right, #E0F130, #5FDD5F);
$pink-gradient: linear-gradient(to right, #F50D5B, #E400FF);
